.channel-content-wrapper {
    width: 100vw;
    margin: 0;
}

.content-banner {
    width: 100%;
    height: 236px;
    
}

.content-banner > img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 60%;
}

.content-about-wrapper {
    width: 100%;
    height: 168px;
}

.content-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8%;
    margin-top: 1.5%;
}

.content-about > *{
    color:#aaaaaa;
    font-size: 14px;
}

.content-about-avatar {
    width: 128px;
    height: 128px;
}

.content-about-avatar > img {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    object-fit: cover;

}
.content-about-details {
    width: 100%;
    margin: 0 2%;
}

.content-about-details *{
    margin-bottom: 5px;
}

.content-about-details > div:first-child{
    font-size: 24px;
    color: white;
}

.content-about-details > div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.content-about-details>div:nth-child(2) > span:first-child {
    font-weight: bold;
}

.content-about-details>div:nth-child(2) * {
    margin-right: 5px;
}

#subscribe-btn {
    position: relative;
    left: 97%;
    bottom: 70px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 36px;
}

#unsubscribe-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 93%;
    bottom: 60px;
    border: none;
    border-radius: 20px;
    width: 151px;
    height: 36px;
    background-color: rgba(72,72,72,0.5);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#unsubscribe-btn>i {
    font-size: 20px;
    background-color: transparent;
    margin-right: 10px;
}

#unsubscribe-btn:hover {
    background-color: rgba(72, 72, 72, 1);
}

#customize-btns {
    position: relative;
    left: 78%;
    bottom: 60px;
}

#customize-btns>button:first-child {
    margin-right: 10px;
}

#customize-btns > a {
    text-decoration: none;
    background-color: transparent;
}

#customize-btns>a > button {
    width: 130px;
}

#customize-btns * {
    border: none;
    border-radius: 20px;
    width: 151px;
    height: 36px;
    background-color: rgba(72,72,72,0.5);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#customize-btns *:hover {
    background-color: rgba(72, 72, 72, 1);
}

#customizing-btn {
    background-color: rgba(62, 166, 255, .8);
}

#customizing-btn:hover {
    background-color: rgba(62, 166, 255, 1);
}

/* EDIT MODE BUTTONS */
.channel-edit-btn {
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: rgba(40, 40, 40, .7);
    padding: 8px 10px;
}

.channel-edit-btn:hover {
    background-color: rgba(30, 30, 30, 1);
    cursor: pointer;
}

.channel-edit-btn + input[type="file"] {
    display: none;
}

#banner-edit {
    position: absolute;
    right: 5%;
    top: 250px;
}

#banner-edit>i {
    background-color: transparent;
}
#content-banner-none {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}


#banner-loading {
    position: absolute;
    right: 5%;
    top: 250px;
    background: none;
    width: 35px;
    height: 35px;

}
#avatar-edit {
    position: relative;
    bottom: 40px;
    left: 50px;
}

#avatar-edit > i{
    background-color: transparent;
}

#avatar-loading {
    position: relative;
    bottom: 40px;
    left: 50px;
    background: none;
    width: 35px;
    height: 35px;

}

#description-edit {
    position: relative;
    left: -10px;
}

#description-edit>i {
    background-color: transparent;
}

#description-edit-input {
    border: 1px solid #606060;
    border-radius: 5px;
    color: #f1f1f1;
    width: 600px;
    min-height: 30px;
    max-height: 50px;
    padding-left: 10px;
}

#description-edit-input:focus {
    outline: none;
    border: 1px solid #3ea6ff;
}

.description-input-btn {
    color: #f1f1f1;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(72, 72, 72, 0.5);
    margin-right: 5px;

}

.description-input-btn:hover {
    background-color: #3ea6ff;

}

@media (max-width: 1200px) {
    #customize-btns {
        display: flex;
        flex-direction: column;
        position: static;
        right: 0;
        bottom: 60px;
    }
}