.video-page {
    display: flex;
    flex-direction: row;
}


.video-page-left {
    width: 11.5%;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: 0;
    height: 100%;
    padding-left: 1.7%;
    margin-top: 2.5%;
    max-width: 674px;
    color: #f1f1f1;
}

.video-content * {
    color:#f1f1f1;
}

.video-more {
    margin-top: 2.75%;
    margin-left: 20px;
    max-width: 402px;
}

.video-page-right {
    width: 11.5%;
}
/* Video title */
#video-title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Player  */

.video-player {
    width: 674px;
    height: 380px;
    max-width: 674px;
}
/* Video Utils */
.video-utils {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 20px;
}

.video-owner-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-decoration: none;
}

.video-owner-details {
    display: flex;
    flex-direction: column;
}

#video-owner-name {
    font-size: 16px;
    color: #f1f1f1;
}

#video-owner-subs {
    font-size: 12px;
    color: #aaaaaa;
}




#video-owner-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    grid-column: 1;
}

#video-owner-name {
    font-size: 16px;
    font-weight: bold;
    grid-column: 2;
}

#vid-subscribe-btn {
    font-size: 14px;
    font-weight: 550;
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 36px;
    color: #383838;
}

.vid-unsubscribe-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    width: 151px;
    height: 36px;
    background-color: rgba(72,72,72,0.5);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.vid-unsubscribe-btn>i {
    font-size: 20px;
    background-color: transparent;
    margin-right: 10px;
}
/* Video description */
.video-description-box * {
    background-color: transparent;
    color: #f1f1f1;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}

.video-description-box {
    margin-top: 15px;
    width: 674px;
    min-height: 100px;
    border: 1px solid #383838;
    border-radius: 15px;
    background-color: #383838;
}

.video-description-box:hover {
    background-color: #585858;
}

#video-description-stats {
    display: flex;
    flex-direction: row;
}

#video-description-stats p {
    font-weight: bold;
    color: #f1f1f1;
    margin-left: 0;
    padding: 0;
    margin-bottom: 3px;
}

#video-description {
    overflow-wrap: break-word;
}

#show-hide-btn {
    color: #f1f1f1;
    border: none;
    margin-bottom: 5px;
}

/* Recommended section */

.video-more-banner {
    border-radius: 10px;
    width: 95%;
    height: 60px;
    margin-left: 380px;
    background-color: #383838;
    margin-left: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.video-more-banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 30%;
}

.video-more > a {
    text-decoration: none;
}

/* Comments section */
.video-comments {
    margin-top: 15px;
}

.unlogged-video-post-comment > button {
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #3ea6ff;
}


/* NOT FOUND */
.video-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f1f1f1;
}

.video-not-found-photo {
    opacity: .75;
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 2.5%;
}

.video-not-found>div {
    color: #f1f1f1;
}

.video-not-found>div>a {
    color: #3ea6ff;
    text-decoration: none;
}