.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: inherit;
  border-bottom: 1px solid #383838;
}

.nav-logo-container {
    display: flex;
    margin-left: 25px;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

#nav-logo {
  margin-top: 10px;
}

.drawer-hideshow {
  background-color: inherit;
  color: #f1f1f1;
  border: none;
  border-radius: 50px;
  margin-right: 25px;

}


.drawer-hideshow:hover {
  background-color: rgb(113, 113, 113, 0.15);
}

.nav-utils {
  margin-right: 25px;
  list-style-type: none;
}

.nav-create-btn {
  border: none;
  padding-right: 10px;
  background-color: inherit;
  border-radius: 50px;
}

.nav-create-btn:hover {
  background-color: rgb(113, 113, 113, 0.15);
}

.nav-utils > li {
  display: inline;
  padding: 10px;
}
.nav-avatar-btn {
  background-color: inherit;
  padding: 0px;
  border: none;
  width: 32px;
  height: 32px;
  color: #f1f1f1;
}

.nav-avatar-btn > img {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}


.nav-about-links {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.nav-about-links>a {
  text-decoration: none;
}

.nav-about-links>a>img {
  width: 30px;
  height: 30px;
}