
.edit-modal-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80vw;
    max-width: 650px;
    border-radius: 15px;

}
.edit-modal-container * {
    color: #f1f1f1;
}

.edit-modal-header {
    padding: 12px 10px 20px 10px;
    border-bottom: 1px solid #383838;
    width: 90%;
    margin-left: 5%;
}

.edit-modal-close-btn {
    position: absolute;
    top: 3%;
    right: 2%;
    background-color: inherit;
    border: none;
    transform: scale(1.1, 1);
    color: #797979;
    padding: 6px;
    border-radius: 6px;
}

.edit-modal-close-btn:hover {
    background-color: #181818;
}

.edit-modal-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 4%;
}

.edit-modal-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;

}

.edit-modal-form-box {
    align-self: center;
    width: 90%;
    border-radius: 12px;
    /* border: 1px solid #E2E3E2; */
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.edit-modal-form label {
    font-weight: bold;
    margin-top: 20px;
}

.edit-modal-form input {
    width: 100%;
    margin: 15px 0px 16px 0px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #7b7b7b50;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.edit-modal-form input:hover {
    border: 1px solid #aaaaaa;
}

.edit-modal-form input:focus {
    border: 1px solid #aaaaaa;
}


.edit-modal-created-div>label {
    margin-top: 10px;
}

.edit-modal-submit-button {
    background-color: #993399;
    margin-top: 10px;
    border: 0px;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 0px;
}

.edit-modal-border {
    margin-bottom: 10px;
}


#edit-owner-name {
    width: 100%;
    margin: 10px 0px 16px 0px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #7b7b7b50;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}



.edit-modal-form>button {
    align-self: flex-end;
}


.decorated-button-edit-channel {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 16px;
}

.decorated-button-edit-channel[disabled=disabled],
.decorated-button-edit-channel:disabled {
    border-radius: 8px;
    cursor: not-allowed;
    color: #aaaaaa;
    padding: 8px 16px;
    background-color: #282828;
}

.decorated-button-edit-channel:not(:disabled) {
    border-radius: 8px;
    cursor: pointer;
    color: #f1f1f1;
    padding: 8px 16px;
    background-color:#3ea6ff;
    border-color: #3ea6ff;
}

/* Error handling */
.edit-errors {
    color: red;
}