* {
    font-family: 'Roboto', Arial, sans-serif;
}


.spots-content {
    margin-top: 5%;
    width: 100%;
}

.spots-grid {
    display: grid;
    margin-left: 5.3%;
    margin-right: 5.3%;
    margin-bottom: 0%;
    border: 0;
    padding: 0;
    margin-top: 2%;
    grid-gap: 1px;
}

.spot-container {
    /* min-width: 240px; */
    max-width: 95%;
    height: 92.5%;
    /* min-height: 168px;
    max-height: 168px; */
}

.spot-link {
    text-decoration: none;
    color: #1e1c1c;
}

.button-link {
    text-decoration: none;
    color: #1e1c1c;
}

.spot-image {
    width: 100%;
    height: 62%;
    object-fit: cover;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border: 0;
}

.spot-description {
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: 90% 20%;
}

.spot-owner {
    grid-column: 1;
    grid-row: 1;
}
.spot-owner-avatar {
    padding-top: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.spot-info {
    grid-column: 2;
    grid-row: 1;
    padding-right: 24px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.spot-title {
    font-weight: bold;
    font-size: 16px;
    color: #f1f1f1;
    width: 97%;
}

.spot-price {
    font-size: 14px;
    color: #AAAAAA;
}

.spot-price > div {
    margin-top: 5px;
}


@media (max-width: 1199px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }
}




@media (min-width: 1200px) {
    .spots-grid {
        grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
    }
}