
.manage-content{
    padding: 0;
    border: 0;
    margin: 0 auto;
    width: 95%;
    color: #f1f1f1;
}


.manage-content > div > h2 {
    font-weight: normal;
    font-size: 25px;
}

.manage-columns-labels {
    display: flex;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}

.manage-columns-labels > div {
    font-size: 12px;
    color: #aaaaaa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.manage-columns {
    display: flex;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    height: 10vh;
}

.manage-columns > div {
    font-size: 12px;
    color: #aaaaaa;
}

.manage-video-label {
    grid-gap: 10px;
    width: 40%;

}
.manage-video {
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: 3vh 5vh;
    width: 40%;
}

.manage-video-img {
    border-radius: 3px;
    width: 80%;
    height: 100%;
    grid-column: 1;
    grid-row: 1/3;
    object-fit: cover;
}

.manage-video-title {
    width: 95%;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    font-size: 13px;
    color: #f1f1f1;
}

.manage-video-desc {
    width: 90%;
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
    margin-top: 5px;
}

.manage-edit {
    text-align: center;
    width: 10%;
    color: #aaaaaa;
}

.manage-delete {
    text-align: center;
    width: 10%;
    border: none;
}


.manage-date {
    margin-left: 50px;
    width: 10%;
}

.manage-views {
    text-align: center;
    width: 10%;
}


.manage-comments {
    text-align: center;
    width: 10%;
}

.manage-likes {
    text-align: center;
    width: 10%;
}


/* Login required */

.manage-no-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.manage-login-photo {
   opacity: .75;
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 2.5%;
}


.manage-no-login> div > button {
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: 18px;
    color: #3ea6ff;
}

/* Upload some videos */
.upload-no-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.manage-no-video-photo {
    opacity: .75;
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 2.5%;
}



.upload-no-video > div > button {
    font-size: 18px;
    border: none;
    color: #3ea6ff;
}