.unsub-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    background-color: #383838;
    border-radius: 10px;
}

.unsub-modal * {
    background-color: #383838;
    color: #aaaaaa;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-radius: 100%;
    margin-left: 3%;
}


.unsub-modal-body {
    width: 80%;
    margin-top: 5%;
}

.unsub-modal-body > p {
    font-size: 14px;
}

.unsub-modal-btns {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin-left: 20%;
}

.unsub-modal-btns * {
    border: none;
    color: #f1f1f1;
    font-size: 14px;
    padding: 3px;
}

#unsub-modal-cancel:hover {
    color: #3ea6ff;
}

#unsub-modal-delete:hover {
    color: #3ea6ff;
}

.unsub-modal-close-btn {
    position: absolute;
    top: 7%;
    right: 5%;
    background-color: inherit;
    border: none;
    transform: scale(1.1, 1);
    color: #aaaaaa;
    padding: 6px;
    padding-bottom: 0;
    border-radius: 6px;
}

.delete-modal-close-btn:hover {
    background-color: #181818;
}